* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flash-red {
  color: red;
  width: auto;
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end,
    blinker 1s infinite;
}

@keyframes typing {
  from {
    max-width: 0;
  }

  to {
    max-width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

@keyframes blinker {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.btn-timer {
  padding: 20px;
  width: 30%;
  font-size: 20px;
  background: #9d7bf4;
  color: white;
  border: 0;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-timer:hover {
  opacity: 0.9;
  cursor: pointer;
  background: #fe729b;
}